* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url(../../../../assets/images/hero-bg.jpg);
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}

.header-title {
    color: white;
    text-align: center;
    font-family: "Vasir Bold";
}

.header-title > h1 > span {
    color:#ffc451 ;
}

.header-title > h3 {
    font-family: "Vasir Light";
}
