@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        max-width: 100%;
    }
}

@font-face {
    font-family: "Vasir Light";
    src: url(../../assets/fonts/Vazir-Light.ttf);
}

@font-face {
    font-family: "Vasir Bold";
    src: url(../../assets/fonts/Vazir-Bold.ttf);
}

.container {
    font-family: "Vasir Light";
    width: 100%;
}