.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    background: rgba(0, 0, 0, 0.8);
}

.nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "Vasir Bold";
}

.nav-link {
    list-style-type: none;
}

.dropdown-menu {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-link > li > a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.nav-link > li > a:hover {
    color: #ffc451;
}

.nav-begin-btn {
    text-decoration: none;
    color: white;
    border: 2px solid #ffc451;
    padding: 6px 20px;
    border-radius: 5px;
    transition: all 0.5s;
}

.nav-begin-btn:hover {
    background-color: #ffc451;
    color: black;
}

.list-menu-wrapper:hover {
    .list-menu {
        visibility: visible;
        opacity: 1;
    }
}